*{
    box-sizing:border-box;
    margin:0;
    padding: 0;
    transition-duration: 1s;
}
html,body{
    background-color: black;
    margin:0;
    padding:0;
    height: 100%;
    color:white;
    display: flex;
    align-items: center;
    justify-content: center;
}
.container{
    flex-direction:column;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    display: flex;
    margin:5%;
    font-size: 3rem;
    
}
ul{
    display: flex;
    list-style-type: none;
    flex-direction: row;
}
ul li{
    margin:10px;
}
i{
    font-size: 80px;
    margin:10px;
}
a:visited{
    color:white;
}
a:hover{
    transform:scale(1.1)
}
a:link{
    color:white;
}
button{
    padding:10px;
    margin:20px;
    width: 160px;
    align-items: center;
    font-size: 20px;
    border-radius: 10px;
    font-weight: 600;
}
